.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
}

#month-switcher {
  display: flex;
  justify-content: space-between;
}

.month-name {
  color: #05385e;
  font-weight: 600;
  font-size: 1.5625rem;
}

.c-table {
  max-width: 100%;
  margin: 2em auto;
  overflow: hidden;
}

.c-week {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.c-week.c-weeek-daynames {
  border-right: none;
  border-left: none;
  text-align: center;
  padding-bottom: 5px;
}

.c-week > div:last-child {
  border-right: none;
}

.c-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  position: relative;
  min-width: 70px;
}

.c-day-number {
  color: #035ba9;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 3px;
}

.c-day-name {
  font-weight: 600;
  text-transform: uppercase;
  color: #05385e;
  border-right: none;
}

.c-day {
  min-height: 120px;
}

.c-day-current {
  background-color: #e5eef6;
}

.c-day-content {
  position: absolute;
  z-index: 2;
}

.c-day-event {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  color: #fff;
  font-size: 14px;
}

.c-red {
  background-color: #ef505f;
}

.c-blue {
  background-color: #05385e;
}

.c-green {
  background-color: green;
}
