.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5;
}

.c-cat-wrapper {
  border-bottom: 1px solid #022138;
}

.c-cat {
  margin: 2em auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.c-cat li {
  padding-right: 1em;
  padding-bottom: 1em;
}

.c-square {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
  top: -1px;
  display: inline-block;
  position: relative;
}

.c-cat li .c-square {
  vertical-align: middle;
}

#month-switcher {
  display: flex;
  justify-content: space-between;
}

#prev-month,
#next-month {
  position: relative;
  display: block;
  background: #e5eef6;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
}

.switch-arrow {
  width: 15px;
  display: inline-block;
  pointer-events: none;
}

.prev-arrow {
  transform: rotate(90deg);
}

.next-arrow {
  transform: rotate(-90deg);
}

.month-name {
  color: #05385e;
  font-weight: 600;
  font-size: 1.5625rem;
  display: flex;
  align-items: center;
}

.c-table {
  max-width: 100%;
  margin: 2em auto;
  overflow-x: hidden;
  overflow-y: visible;
}

.c-week {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.c-week.c-weeek-daynames {
  border-right: none;
  border-left: none;
  text-align: center;
  padding-bottom: 0.3125rem;
}

.c-week > div:last-child {
  border-right: none;
}

.c-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  position: relative;
}

.prev-next-month > div {
  opacity: 0.5;
}

.c-day-number {
  color: #035ba9;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.1875em;
}

.c-day-name {
  font-weight: 600;
  text-transform: uppercase;
  color: #05385e;
  border-right: none;
}

.c-day {
  min-height: 8.125rem;
}

.c-day-current {
  background-color: #e5eef6;
}

.c-day-content {
  position: absolute;
  z-index: 2;
}

.c-day-event {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  border-radius: 4px;
  height: 1.25rem;
  text-decoration: none;
}

.c-day-text {
  color: #fff;
  font-size: 0.875rem;
  padding-left: 0.625em;
}

.c-red {
  background-color: #ef505f;
}

.c-blue {
  background-color: rgb(72, 135, 228);
}

.c-dark-blue {
  background-color: #05385e;
}

.c-green {
  background-color: green;
}

.c-orange {
  background-color: orange;
}

.hidden-event-btn {
  position: absolute;
  color: #035ba9;
  padding: 0;
  font-size: 0.875rem;
  bottom: 0;
  left: 2px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.day-modal {
  position: fixed;
  padding: 1em;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 3;
  display: none;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  max-width: 300px;
  overflow: hidden;
}

.day-modal .c-day-event {
  display: block;
  position: relative;
  margin: 0.5em 0;
  white-space: normal;
  height: auto;
}

.active .day-modal {
  display: block;
}

.prev-next-month.active .day-modal {
  opacity: 1;
}

.day-modal .close-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.not-clickable-url {
  pointer-events: none;
  cursor: default;
}

@media screen and (min-width: 767px) {
  .c-cat {
    justify-content: space-around;
  }

  .day-modal {
    position: absolute;
    left: -1em;
    top: 1em;
    transform: none;
  }
}
