.c-table {
  border: 1px solid #ccc;
  max-width: 700px;
  margin: 2em auto;
  overflow: hidden;
}

.c-week {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.c-table > div:last-child {
  border-bottom: none;
}

.c-week > div:last-child {
  border-right: none;
}

.c-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  position: relative;
  min-width: 70px;
}

.c-day-name {
  font-weight: 700;
}

.c-day {
  min-height: 120px;
}

.c-day-content {
  position: absolute;
  z-index: 2;
}

.c-day-event {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.c-red {
  background-color: red;
}

.c-blue {
  background-color: blue;
}

.c-green {
  background-color: green;
}
